@import url(https:fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,);
 body {
font-family: 'Roboto', sans-serif;
overflow-x: hidden;
color: #616971;
height: 100%;
}


/*-------navbar------*/
.navbar {
text-transform: uppercase;
font-weight: 700;
font-size: .7rem;
letter-spacing: .1rem;
}

.navbar-brand img{
height: 4rem    
}

.navbar-nav li{
padding-right: 1rem
}

.nav-link{
    color: #5678b8!important;
}
.nav-link.active,
.nav-link;:hover{
 color: #567b36!important   
}
/*---------Image Slider---------*/
.carosel-item{height: 100vh;
}
#carosel {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .1)
}

.carosel-inner,
.carosel-item-active { transition: transform 1.6s}